{% extends 'base.html.twig' %}

{% block body %}
    <h2>Plan des places</h2>
    <div class="alert alert-info">
        Sur ce plan, il est possible de consulter l'occupation des places pour ce spectacle!
        Les cases occupées sont affichées en opacité réduite.
    </div>
    <table id="map" class="table table-striped">
        <tr>
            <td colspan="8" class="text-center">
                <h4>Scène</h4>
            </td>
        </tr>
        {% for crow in 0..roomInfos.rows-1 %}
            <tr>
                {% for seatI in 0..roomInfos.seatsPerRow-1 %}
                    <td {% if not functions.isAvailable(crow, seatI) %}class="opacity-25"{% endif %}>{% if not functions.isAvailable(crow, seatI)  and is_granted("ROLE_ADMIN") %}<a href="{{ path("admin_edit_resa", {'id': functions.getResaID(crow, seatI)}) }}">{% endif %}{{ functions.getCellIndex(crow, seatI) }}{% if not functions.isAvailable(crow, seatI and is_granted("ROLE_ADMIN")) %}</a>{% endif %}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}
