{% extends 'base.html.twig' %}

{% block body %}
    {% apply inline_css %}
        <style>

        </style>
        <div id="delete_main">
            <div id="reservation_edit_main">
               Votre réservation a été supprimée !
            </div>
        </div>
    {% endapply %}
{% endblock %}